<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoCleanup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B2ACC662EC02A5D004966FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2ACC752EC02A61004966FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B2ACC7F2EC02A61004966FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
